body{
    margin:0;
    align-content: center;
    text-align: center;
}
th,td{
    border-bottom: 1px solid rgb(156, 190, 197);
}
table{
    width: 70%;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    height: 50px;
}
td{
    height:30px;
    text-align: center;
}
tr:hover{background-color: rgb(213, 235, 228);}
#form{
    text-align: center;
}

.upload_form{
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 10px;
    width: 80%;
    min-width: 50%;
    background-color: cadetblue;
}

.tag_form{
    margin: auto;
    margin-top:100px;
    padding: 10px;
    width: 50%;
    background-color: cadetblue;
}

.body_login{
    background-image: url("https://res.cloudinary.com/hamstech/images/f_auto,q_auto/v1617980773/Hamstech%20App/TITLE-IMAGE10-2/TITLE-IMAGE10-2.jpg?_i=AA");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin:0px;
    padding-top:150px;
    text-align:center ;
}

.login_form{

    width:300px;
    height: 350px;
    background-color: rgb(41, 39, 39, 0.8);
    padding: 20px;
    margin:auto;
}
input {
  text-align: center;
  border-radius:5px;
}

::-webkit-input-placeholder {
  text-align: center;
}