{% extends 'base.html' %}

{% block head %}
<title> Login </title>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}

{% block body %}

<div class="body_login">

    <div class="login_form" id="form">
        <h1 style="color: white">Login</h1>
        <div class="d-flex felx-column justify-content-center" style="padding-top: 10px">
            <div style="padding: 3px"><input type="text" placeholder="Enter Email" name="username" id="username"/></div>
            <div style="padding: 3px"><input type="password" placeholder="Enter Password" name="password" id="password"/></div>
            <div style="padding: 20px"><input style="border-radius: 10px; border-color: white; width:70px" type="button" id="submitbtn" value="Login"/></div>
        </div>

        <div style="margin-top: 35px;">
            <a href="/register"><button style="border-radius: 10px; color:white; background-color:black; width:120px; border-color:  black" class="button">Register here</button></a>
        </div>
    </div>
</div>
    <script>

        $(document).ready(function(){
            
            $('input#submitbtn').click(function(){
                var username=$("input#username").val();
                var password =$("input#password").val();
                if (username && password){
                    urll=window.location.origin
                    $.ajax({url:urll+"/login?username="+username+"&password="+password,type:"POST",success:function(result){
                        if(result=="True"){
                            window.location=urll;
                        }
                        else{
                            alert("enter valid credentials");
                        }
                    }});
                }
                else{
                    alert("Enter all the details")
                }
            });
        });
    </script>

{% endblock %} 